html, body{
    margin: 0px;
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.enemy{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

